:root {
  --heading-color: #72d5f2;
  --primary-color: #ffffff;
  --background-color: #273044;
  --secondary-color: black;
  --color: #f2cf72;
  --color1: #f23276;
  --color2: #72d5f2;
  /* --color3: #9e1aa8; */
  --color3: #72d5f2;
}
